<div class="h-full">
  <div>
    <h1>Shop Details</h1>
    <hr />
  </div>
  <div class="text-center text-red-600" *ngIf="isEmpty">
    <h2>Oops! there are no shops are available</h2>
  </div>

  <div
    class="py-5 min-h-[calc(100vh-180px)] overflow-hidden boundary"
    *ngIf="!isEmpty"
  >
    <div class="flex gap-10">
      <div
        class="list-shops w-[40%] max-h-[calc(100vh-180px)] overflow-y-auto hide-scrollbar"
      >
        <div
          class="card max-h-52 mt-3 p-5 gap-10 shadow-md flex border border-solid hover:cursor-pointer hover:bg-slate-100 hover:delay-75"
          *ngFor="let shop of shopDetails"
          (click)="getStylistDetails(shop.shop._id)"
        >
          <div class="car-header lg:block hidden bg-black rounded-lg">
            <img
              src="../../../../../assets/register-image.jpg"
              class="w-56 h-full rounded-lg"
            />
          </div>
          <div class="card-body">
            <h3>{{ shop.shop.shopName | uppercase }}</h3>
            <p>{{ shop.shop.city }}</p>
            <p>{{ shop.shop.phoneNumber }}</p>
            <p>{{ shop.shop.emailAddress }}</p>
          </div>
        </div>
      </div>

      <div
        class="w-[60%] max-h-[calc(100vh-180px)] overflow-y-auto hide-scrollbar"
      >
        <p class="text-center text-red-600" *ngIf="stylistDetails.length == 0">
          this shop does not have any stylists
        </p>
        <div
          class="card h-auto mt-3 p-5 gap-2 shadow-md flex flex-col border border-solid"
          *ngFor="let stylist of stylistDetails"
        >
          <div class="card-body flex justify-between">
            <div>
              <h1>{{ stylist.name | uppercase }}</h1>
              <p>Experience : {{ stylist.experience }}</p>
              <p>Gender : {{ stylist.gender }}</p>
              <p>Level : {{ stylist.level }}</p>
              <p>specialization : {{ stylist.specialization }}</p>
            </div>
            <!-- <div>
              <img
                src="../../../../../assets/register-image.jpg"
                class="w-56 h-full rounded-lg"
              />
            </div> -->
          </div>
          <div class="card-footer">
            <button
              class="!bg-green-600 w-full !text-white"
              mat-raised-button
              cdkFocusInitial
              (click)="bookStylist(stylist)"
            >
              book
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
