<div *ngIf="isEmptyData">
  <p class="text-center text-xl text-red-600">
    There are no Specialization available
  </p>
</div>

<div class="mat-elevation-z8" *ngIf="!isEmptyData">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{ i + currentPageIndex * itemsPerPage + 1 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab class="!bg-green-600 m-2">
          <mat-icon matSuffix>edit</mat-icon>
        </button>
        <button mat-mini-fab class="!bg-red-600 m-2">
          <mat-icon matSuffix>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    (page)="handlePaginator($event)"
    [length]="pageLength"
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
