<div class="h-screen w-screen text-black">
  <div class="flex h-full">
    <div
      class="hidden h-full lg:w-[75%] pl-5 lg:flex items-center justify-center"
    >
      <img
        src="../../../../assets/register-image.jpg"
        alt="saloon image"
        srcset=""
        class="h-[95vh] w-[100%] rounded-lg object-cover"
      />
    </div>

    <div
      class="sm:flex sm:h-screen lg:w-[50%] p-5 py-8 xl:py-5 w-full h-full overflow-x-auto justify-center items-center"
    >
      <div
        class="h-auto pb-3 sm:h-full sm:pb-0 w-full border border-black rounded-lg"
      >
        <div class="flex items-center flex-col gap-0">
          <img
            src="../../../../assets/logo-min.png"
            alt="logo"
            class="h-[100px] w-[100px]"
          />
          <p>Welcome to trimly</p>
          <h1>Registration Page</h1>
        </div>
        <form [formGroup]="registrationFormData">
          <div class="flex items-center justify-center px-5">
            <mat-button-toggle-group
              name="role"
              aria-label="Font Style"
              formControlName="role"
              (change)="OnroleChange($event)"
            >
              <mat-button-toggle value="user" class="w-52"
                ><Span class="">General User</Span></mat-button-toggle
              >
              <mat-button-toggle value="shopowner" class="w-52"
                ><span>Have a Shop?</span></mat-button-toggle
              >
            </mat-button-toggle-group>
          </div>

          <div
            *ngIf="
              registrationFormData.get('role')?.hasError('required') &&
              registrationFormData.get('role')?.touched &&
              registrationFormData.get('role')?.dirty
            "
          >
            <p class="text-center text-red-500 text-sm mt-1">
              Role is required
            </p>
          </div>

          <div class="lg:mt-8 mt-5 px-5 flex flex-col">
            <div class="flex sm:gap-3 flex-wrap xl:flex-nowrap">
              <mat-form-field class="w-full" *ngIf="user">
                <mat-label>Enter Your First Name</mat-label>
                <input
                  matInput
                  placeholder="Enter Your First Name"
                  formControlName="firstName"
                />
                <mat-icon matSuffix>person</mat-icon>
                <mat-error
                  *ngIf="
                    registrationFormData.hasError('required', 'firstName') &&
                    (registrationFormData.get('firstName')?.touched ||
                      registrationFormData.get('firstName')?.dirty)
                  "
                  >First Name is Required</mat-error
                >
              </mat-form-field>

              <mat-form-field class="w-full" *ngIf="user">
                <mat-label>Enter Your Last Name</mat-label>
                <input
                  matInput
                  placeholder="Enter Your Last Name"
                  formControlName="lastName"
                />
                <mat-icon matSuffix>person_add</mat-icon>
                <mat-error
                  *ngIf="
                    registrationFormData.hasError('required', 'lastName') &&
                    (registrationFormData.get('lastName')?.touched ||
                      registrationFormData.get('lastName')?.dirty)
                  "
                  >Last Name is Required</mat-error
                >
              </mat-form-field>
            </div>

            <div class="flex sm:gap-3 flex-wrap xl:flex-nowrap">
              <mat-form-field class="w-full" *ngIf="user">
                <mat-label>Select Your Gender</mat-label>
                <mat-select formControlName="gender">
                  <mat-option value="male">Male</mat-option>
                  <mat-option value="female">Female</mat-option>
                  <mat-option value="others">Others</mat-option>
                </mat-select>
                <mat-icon matSuffix>transgender</mat-icon>
                <mat-error
                  *ngIf="
                    registrationFormData.hasError('required', 'gender') &&
                    (registrationFormData.get('gender')?.touched ||
                      registrationFormData.get('gender')?.dirty)
                  "
                  >Gender is Required</mat-error
                >
              </mat-form-field>

              <mat-form-field class="w-full" *ngIf="!user">
                <mat-label>Enter Your Shop Name</mat-label>
                <input
                  matInput
                  placeholder="Enter Your Shop Name"
                  formControlName="shopName"
                />
                <mat-icon matSuffix>add_business</mat-icon>
                <mat-error
                  *ngIf="
                    registrationFormData.hasError('required', 'shopName') &&
                    (registrationFormData.get('shopName')?.touched ||
                      registrationFormData.get('shopName')?.dirty)
                  "
                  >First Name is Required</mat-error
                >
              </mat-form-field>

              <mat-form-field class="w-full">
                <mat-label>Enter Your City</mat-label>
                <input
                  matInput
                  placeholder="Enter Your City"
                  formControlName="city"
                />
                <mat-icon matSuffix>location_city</mat-icon>
                <mat-error
                  *ngIf="
                    registrationFormData.hasError('required', 'city') &&
                    (registrationFormData.get('city')?.touched ||
                      registrationFormData.get('city')?.dirty)
                  "
                  >City is Required</mat-error
                >
              </mat-form-field>
            </div>

            <div class="flex sm:gap-3 flex-wrap xl:flex-nowrap">
              <mat-form-field class="w-full">
                <mat-label>Enter Your Phone Number</mat-label>
                <input
                  matInput
                  placeholder="Enter Your Phone Number"
                  formControlName="phoneNumber"
                />
                <mat-icon matSuffix>phone</mat-icon>
                <mat-error
                  *ngIf="
                    registrationFormData.hasError('required', 'phoneNumber') &&
                    (registrationFormData.get('phoneNumber')?.touched ||
                      registrationFormData.get('phoneNumber')?.dirty)
                  "
                  >Phone Number is Required</mat-error
                >

                <mat-error
                  *ngIf="
                    registrationFormData.hasError('pattern', 'phoneNumber') &&
                    (registrationFormData.get('phoneNumber')?.touched ||
                      registrationFormData.get('phoneNumber')?.dirty)
                  "
                  >Invalid Phone Number</mat-error
                >
              </mat-form-field>

              <mat-form-field class="w-full">
                <mat-label>Enter Your Email Address</mat-label>
                <input
                  matInput
                  placeholder="Enter Your Email Address"
                  formControlName="emailAddress"
                />
                <mat-icon matSuffix>mail</mat-icon>
                <mat-error
                  *ngIf="
                    registrationFormData.hasError('required', 'emailAddress') &&
                    (registrationFormData.get('emailAddress')?.touched ||
                      registrationFormData.get('emailAddress')?.dirty)
                  "
                  >Email Address is Required</mat-error
                >

                <mat-error
                  *ngIf="
                    registrationFormData.hasError('email', 'emailAddress') &&
                    (registrationFormData.get('emailAddress')?.touched ||
                      registrationFormData.get('emailAddress')?.dirty)
                  "
                  >Invalid Email Address</mat-error
                >
              </mat-form-field>
            </div>

            <div
              class="flex sm:gap-3 flex-wrap xl:flex-nowrap"
              [ngClass]="{
              'mb-0':
                registrationFormData.hasError('pattern', 'password') &&
                registrationFormData.hasError('minlength', 'password') ,
                'sm:mb-6':
                registrationFormData.hasError('pattern', 'password') &&
                registrationFormData.hasError('minlength', 'password') ,
                
            }"
            >
              <mat-form-field
                class="w-full"
                [ngClass]="{
                'mb-6':
                  registrationFormData.hasError('pattern', 'password') &&
                  registrationFormData.hasError('minlength', 'password'),
                  'sm:mb-0': registrationFormData.hasError('pattern', 'password') &&
                  registrationFormData.hasError('minlength', 'password'),
                  'lg:mb-6': registrationFormData.hasError('pattern', 'password') &&
                  registrationFormData.hasError('minlength', 'password'),
                  'xl:mb-0': registrationFormData.hasError('pattern', 'password') &&
                  registrationFormData.hasError('minlength', 'password'),
                  
              }"
              >
                <mat-label>Enter Your Password</mat-label>
                <input
                  matInput
                  formControlName="password"
                  [type]="passwordHide ? 'password' : 'text'"
                />
                <button
                  mat-icon-button
                  type="button"
                  matSuffix
                  (click)="passwordHide = !passwordHide"
                >
                  <mat-icon>{{
                    passwordHide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>

                <mat-error
                  *ngIf="
                    registrationFormData.hasError('required', 'password') &&
                    (registrationFormData.get('password')?.touched ||
                      registrationFormData.get('password')?.dirty)
                  "
                >
                  Password is Required
                </mat-error>

                <mat-error
                  *ngIf="
                    registrationFormData.hasError('minlength', 'password') &&
                    (registrationFormData.get('password')?.touched ||
                      registrationFormData.get('password')?.dirty)
                  "
                >
                  Password Should be Atleast 8 Character
                </mat-error>

                <mat-error
                  *ngIf="
                    registrationFormData.hasError('pattern', 'password') &&
                    (registrationFormData.get('password')?.touched ||
                      registrationFormData.get('password')?.dirty)
                  "
                >
                  Require 1 Uppercase and 1 special Character
                </mat-error>
              </mat-form-field>

              <mat-form-field class="w-full">
                <mat-label>Enter Your Confirm Password</mat-label>
                <input
                  matInput
                  formControlName="confirmPassword"
                  [type]="confirmPasswordHide ? 'password' : 'text'"
                />

                <button
                  mat-icon-button
                  type="button"
                  matSuffix
                  (click)="confirmPasswordHide = !confirmPasswordHide"
                >
                  <mat-icon>{{
                    confirmPasswordHide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <mat-error
                  *ngIf="
                    registrationFormData.hasError(
                      'required',
                      'confirmPassword'
                    ) &&
                    (registrationFormData.get('confirmPassword')?.touched ||
                      registrationFormData.get('confirmPassword')?.dirty)
                  "
                  >Confirm Password is Required
                </mat-error>

                <mat-error
                  *ngIf="
                    registrationFormData.hasError(
                      'passwordMismatch',
                      'confirmPassword'
                    )
                  "
                >
                  Passwords are not matching
                </mat-error>
                <mat-error *ngIf="false">&nbsp;</mat-error>
              </mat-form-field>
            </div>

            <div class="">
              <mat-checkbox color="primary" formControlName="termAndConditions"
                >Accept the term and condition</mat-checkbox
              >
              <mat-error
                *ngIf="
                  registrationFormData
                    .get('termAndConditions')
                    ?.hasError('required') &&
                  registrationFormData.get('termAndConditions')?.touched
                "
              >
                <span class="ml-5 text-xs"
                  >You must agree to the terms and conditions.</span
                >
              </mat-error>
            </div>

            <div class="flex justify-center flex-col w-full gap-3">
              <button
                mat-raised-button
                color="primary"
                class="w-full"
                [disabled]="registrationFormData.invalid"
                (click)="Submit()"
              >
                Register
              </button>

              <div class="text-center text-gray-400">
                Already have an account?
                <span class="cursor-pointer text-black" routerLink="../login"
                  >Sign In</span
                >
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
